<div class="bg">
{{this.gova.name}}
{{this.gova.match}}
{{this.detail}}
</div>

<div class="bg">
{{this.surya.name}}
{{this.surya.match}}

</div>

<div class="bg">
{{this.kali.name}}
{{this.kali.match}}
{{this.kali.overview}}<br>


</div>

<div class="bg">
	Native:{{this.Naren.Native}} <br>
	Name:{{this.Naren.name}}<br>
	Nation:{{this.Naren.nation}}<br>
	Native:{{this.Naren.Native}}<br>
	{{this.Naren.isPerson}}

</div>
{{yield}}